body{
    background-color: rgb(46, 4, 4);
}
h1{

        text-decoration:dashed;
        text-transform: capitalize;
        color: chocolate;
        text-align: center;

}
.angypoopie{
    display: flex;
    width: 600px;
    height: 500px;
    padding-left: 320px;
}